@mixin btnStyle($size) {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
    letter-spacing:$size * 1px;
    text-transform:uppercase;
    background-color: rgba(127, 255, 212, 0.466) ;
    border: 2px solid green;
    font-size:$size*10px;
    @if $size == 1{
        background-color: green;
    }@else{
        @if $size == 2{
            background-color: yellow;
            }@else{
                    background-color: blue;
            }
    }
        
    
}
.btn-lg{
    @include btnStyle(3);
}
.btn-md{
    @include btnStyle(2);
}
.btn-sm{
    @include btnStyle(1);
}