*{
    padding: 0;
    margin: 0;
}
.container{
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: 'panner panner panner panner'
                         'sidebar content content content' 
                         'footer footer footer footer';
    height: calc(100vh - 20px);
    grid-template-rows: 20% auto 20% ;
    grid-gap: 10px
                         
}
.panner{
    grid-area: panner;
    background-color: aqua;

}
.sidebar{
    grid-area: sidebar;
    background-color: azure;
}
.content{
    grid-area: content;
    background-color: lightgrey;
}
.footer{
    grid-area: footer;
    background-color: lightgoldenrodyellow;
}