.someClass{
    background-color: red;
    font-size: 2rem;
    float: left;
    width:200px;
    height: 200px;
    /* transform:  rotateY(180deg) skew(20deg); */
    backface-visibility: hidden;
    transform: rotateY(60deg);

}
