*{
    padding: 0;
    margin: 0;
}
.nav{
    list-style-type: none;
    background-color: aqua;
    height: 50px;
}
.nav  a{
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase; 
    color: white;
    margin: 10px;
    display: block;
    text-align: center;
    
}
.nav li{
    /* display: inline; */
    margin-right: 10px;
    float: left;
    margin-top: 5px;
    background-color: black;
    height: 40px;
    box-shadow: 1px 1px 5px black;
    min-width: 150px;
    
}

.nav li:first-child{
    margin-left:10px;
}
.nav li:last-child{
    float: right;
}
.nav li:hover{
box-shadow: 1px 1px 10px black;
}
.nav li:hover a{
    font-size: 22px;
    }
    @media (max-width: 821px){
        .nav li{
            width: 100%;
        }
        .nav li:first-child{
            margin-left:0;
        }
        .nav li:last-child{
            float: left;
        }
        .nav{
            height: 230px;
        }
    }
